[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Rider
.idea/

# Plastic SCM
.plastic/
ignore.conf

# Large file that wouldnt commit
Assets/GoogleFireBase/

Assets/StreamingAssets